<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//apis.google.com/js/platform.js?onload=start"> </script>
        <script>
            // callback function once Google sends the response
            function signInCallback(authResult) {
                if (authResult['code']) {
                    // if response contains one-time use code, send it to server using AJAX
                    $.ajax({
                        type: 'POST',
                        url: '/login?state={{STATE}}',
                        processData: false,
                        contentType: 'application/octet-stream; charset=utf-8',
                        data: authResult['code'],
                        success: function(result) {
                            if (result) {
                             $('.row').html("<div class='col-md-5 col-md-offset-2 col-xs-5 col-xs-offset-2'><h4> Welcome " + result + "</h4></div>");
                                setTimeout(function() {
                                    window.location.href = '/';
                                }, 4000)
                            }
                            else {
                                $('.row').html('<p>Failed to make an AJAX request, check your configuration and console')
                            }
                        }
                    })
                }
            }
        </script>
    </head>
    <body>
        <header>
            <div class="jumbotron">
                <h2>Westeros Characters</h2>
            </div>
        </header>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('homepage')}}"><span class="glyphicon glyphicon-home"></span></a></li>
            </ul>
        </nav>
        <div class='container-fluid'>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <div class="well">
                        <p>Login using Google+</p>
                        <div id="signInButton">
                            <span class="g-signin"
                                  data-scope="openid email"
                                  data-clientid="243051458301-cepfgon0bbg3qspciko710k9lf4n6eam.apps.googleusercontent.com"
                                  data-redirecturi="post message"
                                  data-accesstype="offline"
                                  data-cookiepolicy="single_host_origin"
                                  data-callback="signInCallback"
                                  data-approvalprompt="force"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>